@import 'font';
@import 'reset';

.clearfix {
    clear: both;
}

.login-container {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .login-area {
        width: 448px;

        .logo-text img {
            display: block;
            margin: 0 auto 10px;
            height: 180px;
        }

        .login-main {
            padding: 20px 50px;
            border-radius: 10px;
            background-color: white;

            h2.form-title {
                text-align: center;
                font-weight: bold;
                color: rgb(175, 175, 175);
            }

            form>div {
                margin: 10px auto;
            }

            form button {
                width: 30%;
                font-weight: bold;
                color: white;
            }

            form button>span {
                color: white;
            }

            .login-tips {
                font-style: italic;
                float: right;
                color: rgb(150, 150, 150);
            }
        }
    }
}

.chat-app {
    background-image: url(../img/white-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    height: 100vh;
    display: flex;

    .app-sider {
        height: 100%;
        max-width: 448px;
        min-width: 448px;

        .sider-menu {
            display: flex;
            flex-direction: column;
            height: 100%;
            max-width: 96px;
            min-width: 96px;
            float: left;
            align-items: center;
            padding: 10px 0;
        }

        .sider-menu > span {
            margin-bottom: 24px;
        }

        .sider-list {
            height: 100%;
            max-width: 352px;
            min-width: 352px;
            float: left;
            overflow-y: auto;
            padding: 10px 0;

            .ant-tabs-tab {
                font-weight: bold;
            }

            .ant-tabs-tab[aria-selected=false] {
                color: rgba(128, 128, 128, 0.5);
            }

            ul.list {
                list-style: none;
                padding: 0;

                .cell {
                    display: flex;
                    align-items: center;
                    padding: 10px 10px;
                    cursor: pointer;

                    .info {
                        margin: 0 10px;
                        max-width: 200px;

                        .display-name {
                            display: block;
                            font-weight: bold;
                        }

                        .lastest-msg {
                            display: block;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .status {
                        margin-left: auto;
                    }
                }

                .offline {
                    opacity: 0.5;
                }

                .cell:hover {
                    background-color: rgba(128, 128, 128, 0.1);
                }
            }
        }
    }

    .app-main {
        height: 100%;
        width: 100%;
        padding-left: 15px;

        .main-top {
            height: 80px;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .info {
                .info-name {
                    display: block;
                    font-weight: bold;
                    font-size: 1.3em;
                }

                .status-or-number {
                    font-size: 1em;
                }
            }
        }

        .main-content {
            height: calc(100vh - 185px);
            padding: 15px;
            overflow: auto;
            display: flex;
            flex-direction: column;

            .msg {
                margin-bottom: 16px;
                max-width: 60%;

                .msg-user,
                .msg-time {
                    color: rgba(128, 128, 128, 0.7);
                    font-size: 0.8em;
                }

                .msg-content {
                    border-radius: 15px;
                    padding: 10px;
                    color: white;
                }
            }

            .my-msg {
                align-self: flex-end;
                
                .msg-user,
                .msg-time {
                    text-align: right;
                    margin-right: 15px;
                }

                .msg-content {
                    text-align: right;
                    background-color: blue;
                }
            }

            .friend-msg {
                align-self: flex-start;

                .msg-user,
                .msg-time {
                    margin-left: 15px;
                    text-align: left;
                }

                .msg-content {
                    text-align: left;
                    background-color: green;
                }
            }
        }

        .main-bottom {
            height: 100px;
            padding: 10px;
            display: flex;
            align-items: center;

            .chat-input {
                margin-right: 10px;
                width: calc(100% - 64px);

                form {
                    position: relative;
                }
                
                form textarea {
                    background-color: rgba(0, 0, 255, 0.2);
                    display: block;
                    resize: none;
                    height: 100%;
                    width: 100%;
                    padding: 15px 100px 15px 30px;
                    font-size: 1.2em;
                    outline: none;
                    border: none;
                    border-radius: 20px;
                }

                form button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    padding-left: 20px;
                    padding-right: 20px;
                    outline: none;
                    border: none;
                    border-radius: 0 20px 20px 0;
                    background-color: rgba(0, 0, 255, 0);
                    font-weight: bold;
                    color: white;
                }

                form button:hover {
                    cursor: pointer;
                    background-color: rgba(0, 0, 255, 0.1);
                }

                form button:active {
                    color: grey;
                }
            }

            .chat-upload {
                width: 64px;
                height: 64px;
                background-color: yellow;
                border: 2px solid black;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(165, 165, 165);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(124, 124, 124);
}